@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
}

/* Mobile devices*/
@media (min-width: 360px) {
  :root {
    --font-size-xs: 0.8125rem;
    --font-size-sm: 0.9375rem;
    --font-size-base: 1.0625rem;
    --font-size-lg: 1.1875rem;
    --font-size-xl: 1.3125rem;
    --font-size-2xl: 1.5625rem;
    --font-size-3xl: 1.9375rem;
    --font-size-4xl: 2.3125rem;
  }
}

/* Large smartphones*/
@media (min-width: 480px) {
  :root {
    --font-size-xs: 0.875rem;
    --font-size-sm: 1rem;
    --font-size-base: 1.125rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.375rem;
    --font-size-2xl: 1.625rem;
    --font-size-3xl: 2rem;
    --font-size-4xl: 2.375rem;
  }
}

/* Tablets and small desktops*/
@media (min-width: 768px) {
  :root {
    --font-size-xs: 0.9375rem;
    --font-size-sm: 1.0625rem;
    --font-size-base: 1.1875rem;
    --font-size-lg: 1.3125rem;
    --font-size-xl: 1.4375rem;
    --font-size-2xl: 1.6875rem;
    --font-size-3xl: 2.0625rem;
    --font-size-4xl: 2.4375rem;
  }
}

/* Large tablets and desktops (1024px and up) */
@media (min-width: 1024px) {
  :root {
    --font-size-xs: 1rem;
    --font-size-sm: 1.125rem;
    --font-size-base: 1.25rem;
    --font-size-lg: 1.375rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.75rem;
    --font-size-3xl: 2.125rem;
    --font-size-4xl: 2.5rem;
  }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
  :root {
    --font-size-xs: 1.0625rem;
    --font-size-sm: 1.1875rem;
    --font-size-base: 1.3125rem;
    --font-size-lg: 1.4375rem;
    --font-size-xl: 1.5625rem;
    --font-size-2xl: 1.8125rem;
    --font-size-3xl: 2.1875rem;
    --font-size-4xl: 2.5625rem;
  }
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    @apply font-sans bg-gray-100 min-h-screen w-full w-dvw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* Common classes for layout */
  .container {
    @apply mx-auto px-4;
  }

  .content {
    @apply flex flex-col justify-center items-center;
  }

  /* The following is for handling form elements with Mantine */
.button-primary {
  @apply m-auto my-2 w-full rounded-full bg-[#ffa51b] p-2 shadow-md;
}

.button-accent {
  @apply m-auto w-[243.94px] rounded-full border-[0.81px] border-[#FFA51B] bg-[#FFA51B] p-2 text-sm tracking-wide text-[#2B3C47] shadow-md hover:bg-[#FF9A00] hover:outline hover:outline-1 hover:outline-[#F88639] active:bg-[#F88639] active:outline-[#43A677] disabled:bg-[#A8AFB4];
}

.button-light {
  @apply m-auto w-[253.7px] rounded-full border-[0.81px] border-[#FFA51B] bg-[#F4FBF9] p-2 text-sm text-[#2B3C47] shadow-md hover:bg-[#D1E8E6] hover:outline hover:outline-1 hover:outline-[#FFA51B] active:bg-[#B5E6D4] active:outline-[#E8F4F3] disabled:bg-[#A8AFB4];
}
  .label-primary {
    @apply mt-2 w-full pl-2 text-left font-sans text-sm font-semibold;
  }

  .input-primary {
    @apply w-full rounded-lg border border-black px-2 text-black dark:text-black;
  }

  .input-container {
    @apply w-full;
  }
}

/* Privacy Policy*/
@layer components {
  .section-base {
    @apply mb-2;
  }

  .section-header-base {
    @apply section-base font-bold;
  }

  .section-body {
    @apply mb-6;
  }

  .section-header {
    @apply section-header-base text-xl;
  }

  .section-subheader {
    @apply section-header-base text-lg;
  }

  .section-tertiary-header {
    @apply section-header-base text-base;
  }

  .section-paragraph {
    @apply section-base text-sm leading-relaxed;
  }

  .list {
    @apply section-base space-y-2;
  }

  .list-item {
    @apply flex list-inside list-disc items-center space-x-2;
  }
}
